body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  flex-direction: column-reverse;
}
/* #btn {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 500;
  background-color: aquamarine;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  transition: all 0.2s;
}

#btn:hover {
  background-color: transparent;
  border: 1px solid aquamarine; 
}*/
#change-btn {
  padding: 10px 15px;
  font-size: 15px;
  background-color: aquamarine;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  transition: all 0.2s;
}

#change-btn:hover {
  background-color: transparent;
  border: 1px solid aquamarine;
}
/* 
#btnHsl {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 500;
  background-color: aquamarine;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  transition: all 0.2s;
}

#btnHsl:hover {
  background-color: transparent;
  border: 1px solid aquamarine;
} */

#output {
  background-color: #fff;
  text-align: center;
}
.input-btn {
  display: flex;
  gap: 10px;
}
